*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.logo{
    position: absolute;
    left: 1rem;
    border-radius: 10px;
    z-index: 111;
}
.nav{
    background:rgb(3, 61, 104);
    color: white;
    display: flex;
    justify-content: flex-end;
    height: 46px;
    text-align: center;
    align-items: center;
    position: sticky;
    
}
.nav li{
    list-style: none;
    display: flex;
    /* text-decoration: none; */
    flex-direction: column;
    width: 100px;
    height: 2.4rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.nav  a{
    text-decoration: none;
    color: white;
}
.nav a:hover{
    color : white;
}
/* sign in & sign up button  */
p a{
    text-decoration: none;
    color: white;
}
p a:hover{
    color : white;
}
.nav li:after {
    content: '';
    display: block;
    border-bottom: 3px solid rgb(221, 221, 236);
    width: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.nav li:hover:after {
    cursor: pointer;
    width: 96%; }
